@import 'normalize.css/normalize.css';
@import './styleResources/variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

body {
  font-feature-settings: "palt";
  //字間調整
  color: $color;
  padding-top: $global-header-height;
}

.text-center {
  text-align: center;
}

strong,
b {
  font-weight: bold;
}
